.info__genre-item{
    display: inline-block;
    border: 1px solid var(--black);
    border-radius: 6px;
    padding: 6px 8px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.1px;
}